*:before, *:after {
  -webkit-transition: all .5s;
  transition: all .5s;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  width: 100%;
  -webkit-transition: background 500ms ease-in-out, color 200ms ease;
  transition: background 500ms ease-in-out, color 200ms ease;
}

main {
  padding: 1rem;
}

img, picture {
  max-width: 100%;
  height: auto;
}
