/* 2.2) Brand colors */
.icon {
  width: 1em;
  height: 1em;
}

.icon__small {
  width: 0.75em;
  height: 0.75em;
}

.icon__square {
  width: 2em;
  height: 2em;
  padding: 0.5em;
  margin: 0.25em;
}

.icon__fill {
  fill: #fdfbfb;
}

.icon__facebook {
  background: #3b5998;
}

.icon__twitter {
  background: #1da1f2;
}

.icon__linkedin {
  background: #0077b5;
}

.icon__instagram {
  background: #e1306c;
}

.icon__youtube {
  background: #ff0000;
}
