header {
  padding: 2rem;
  text-align: center;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: var(--gray);
  color: var(--white);
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--hamburger);
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__item {
  padding: 0.5em;
}

.nav__list {
  list-style: none;
  padding: 1em;
}

.nav__link {
  color: var(--gray);
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0.5em;
}

@media (min-width: 720px) {
  .nav-toggle {
    display: none;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    visibility: initial;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav__list--primary {
    margin-left: auto;
  }
  .nav__link {
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0.75em;
  }
}
