.service__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.75rem;
    align-items: stretch;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
}

.project__informations {
    display: grid;
    gap: 2rem;
    justify-content: center;
}