.service__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.75rem;
    align-items: stretch;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.project__informations {
    display: grid;
    gap: 2rem;
    justify-content: center;
}

.project__item {
    display: grid;
}

@media (max-width: 720px) {

    footer {
        display: grid;
        justify-content: space-evenly;
        padding: 2rem;
    }

}